<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="fragments.html :: top">Header TODO</header>
<ul th:each="doctor : ${doctors}">
    <li>
        <a th:href="@{/doctor(number=${doctor.number},name=${doctor.name})}" th:text="|Doctor ${doctor.number}|">Doctor n</a>
    </li>
</ul>
<footer th:replace="fragments.html :: bottom">Footer TODO</footer>
</body>
</html>
